In [21]:
import pandas as pd
sample_data = pd.read_excel("..\\Data\processed\processed_conversations_10k.xlsx")

In [22]:
sample_data

       user_id                                      conversations company_name
0       115712  Customer: @sprintcare is the worst customer se...   sprintcare
1       115712  Customer: @sprintcare is the worst customer se...   sprintcare
2       115712  Customer: @sprintcare is the worst customer se...   sprintcare
3       115712  Customer: @115714 @sprintcare how can I get in...   sprintcare
4       115712  Customer: @115714 @sprintcare how can I get in...   sprintcare
...        ...                                                ...          ...
33811   126216  Customer: @GWRHelp no info, full platform - no...      GWRHelp
33812   126216  Customer: @GWRHelp I'm on one of your trains t...      GWRHelp
33813   126216  Customer: I feel for you @GWRHelp social media...      GWRHelp
33814   126216  Customer: @GWRHelp another evening of disrupti...      GWRHelp
33815   126217  Customer: Fabulous #sunset colours tonight fla...      GWRHelp

[33816 rows x 3 columns]

In [23]:
# Function to check if one conversation is a subset of another for the same user and company
def find_subsets(df):
    subset_records = []
    grouped = df.groupby(['user_id', 'company_name'])
    
    for (user_id, company_name), group in grouped:
        conversations = group['conversations'].tolist()
        for i, convo1 in enumerate(conversations):
            for j, convo2 in enumerate(conversations):
                if i != j and convo1 in convo2:
                    subset_records.append((user_id, company_name, convo1, convo2))
    
    return pd.DataFrame(subset_records, columns=['user_id', 'company_name', 'subset_conversation', 'parent_conversation'])

# Identify subset conversations
subset_df = find_subsets(sample_data)
subset_df

,user_id,company_name,subset_conversation,parent_conversation
0,116421,VirginTrains,Customer: @VirginTrains Night Joel\nCompany: @...,Customer: @VirginTrains Night Joel\nCompany: @...
1,116421,VirginTrains,Customer: @VirginTrains Evening Joel\nCompany:...,Customer: @VirginTrains Evening Joel\nCompany:...
2,116421,VirginTrains,Customer: @VirginTrains Evening Joel\nCompany:...,Customer: @VirginTrains Evening Joel\nCompany:...
3,117936,AskTarget,Customer: This pic speaks 1K words on how 2 lo...,Customer: This pic speaks 1K words on how 2 lo...
4,118423,airtel_care,Customer: @airtel_care @117626 its quite unthi...,Customer: @airtel_care @117626 its quite unthi...
5,118423,airtel_care,Customer: @airtel_care @117626 its quite unthi...,Customer: @airtel_care @117626 its quite unthi...
6,118423,airtel_care,Customer: @airtel_care @117626 here is another...,Customer: @airtel_care @117626 here is another...
7,118423,airtel_care,Customer: @airtel_care @117626 here is another...,Customer: @airtel_care @117626 here is another...
8,118423,airtel_care,Customer: @117626 @airtel_care i think its hig...,Customer: @117626 @airtel_care i think its hig...
9,118423,airtel_care,Customer: @117626 @airtel_care i think its hig...,Customer: @117626 @airtel_care i think its hig...
10,118423,airtel_care,Customer: @117626 @airtel_care i think its hig...,Customer: @117626 @airtel_care i think its hig...
11,118423,airtel_care,Customer: @117626 @airtel_care i think its hig...,Customer: @117626 @airtel_care i think its hig...
12,118423,airtel_care,Customer: is that not stealing by tricks @airt...,Customer: is that not stealing by tricks @airt...
13,118423,airtel_care,Customer: is that not stealing by tricks @airt...,Customer: is that not stealing by tricks @airt...
14,118423,airtel_care,Customer: @airtel_care @117626 i recharged my ...,Customer: @airtel_care @117626 i recharged my ...
15,118423,airtel_care,Customer: @airtel_care @117626 i recharged my ...,Customer: @airtel_care @117626 i recharged my ...
16,118423,airtel_care,Customer: @airtel_care @117626 is it until we ...,Customer: @airtel_care @117626 is it until we ...
17,118423,airtel_care,Customer: @airtel_care @117626 is it until we ...,Customer: @airtel_care @117626 is it until we ...
18,121239,LondonMidland,"Customer: I'm sure at least 15,000 of my tweet...","Customer: I'm sure at least 15,000 of my tweet..."
19,123107,sprintcare,Customer: @115714 is the absolute worst I swea...,Customer: @115714 is the absolute worst I swea...

In [27]:
print(subset_df['subset_conversation'].iloc[0])

Customer: @VirginTrains Night Joel
Company: @116421 Good night Becky ^JH

In [28]:
print(subset_df["parent_conversation"].iloc[0])

Customer: @VirginTrains Night Joel
Company: @116421 Good night Becky ^JH
Customer: @VirginTrains I honestly donâ€™t know what Iâ€™ll do without you! Unless itâ€™s Andy in!
Customer: @116421 @VirginTrains I don't know why vt don't reply to my tweet I am not sure y

In [29]:
# Function to drop subset conversations
def drop_subset_conversations(df):
    subset_df = find_subsets(df)
    subset_conversations = subset_df['subset_conversation'].unique()
    cleaned_df = df[~df['conversations'].isin(subset_conversations)]
    return cleaned_df

# Drop subset conversations from the original dataset
cleaned_conversations_df = drop_subset_conversations(sample_data)

cleaned_conversations_df

       user_id                                      conversations company_name
0       115712  Customer: @sprintcare is the worst customer se...   sprintcare
1       115712  Customer: @sprintcare is the worst customer se...   sprintcare
2       115712  Customer: @sprintcare is the worst customer se...   sprintcare
3       115712  Customer: @115714 @sprintcare how can I get in...   sprintcare
4       115712  Customer: @115714 @sprintcare how can I get in...   sprintcare
...        ...                                                ...          ...
33811   126216  Customer: @GWRHelp no info, full platform - no...      GWRHelp
33812   126216  Customer: @GWRHelp I'm on one of your trains t...      GWRHelp
33813   126216  Customer: I feel for you @GWRHelp social media...      GWRHelp
33814   126216  Customer: @GWRHelp another evening of disrupti...      GWRHelp
33815   126217  Customer: Fabulous #sunset colours tonight fla...      GWRHelp

[33796 rows x 3 columns]